@tailwind base;
@tailwind components;
@tailwind utilities;


#text-danger{
    color: blue;
}

.custoom-hover:hover{
    transition: 0.5s all;
    transform: scale(1.02);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.scroll::-webkit-scrollbar{
    width: 5px;
}

#img-phone{
    opacity: 0;
    transform: translateX(-500px);
}
#img-mac{
    opacity: 0;
    transform: translateX(-500px);
}
#span-mac{
    opacity: 0;
    transform: translateX(500px);
}
#img-detail{
    opacity: 0;
    transform: translateY(-50px);
}
#infor-detail{
    opacity: 0;
    transform: translateY(-50px);
}

#img-detail1{
    opacity: 0;
    transform: translateX(-500px);
}
#infor-detail1{
    opacity: 0;
    transform: translateX(500px);
}

#product-opa{
    opacity: 0;
    transform: translateY(-50px);
}

#left{
    opacity: 0;
    transform: translateX(-50px);
}
#top{
    opacity: 0;
    transform: translateY(-50px);
}
#bot{
    opacity: 0;
    transform: translateY(-50px);
}

/* signin and sign up  */
#form-register{
    opacity: 0;
    transform: translateX(300px);
}

#img-register{
    opacity: 0;
    transform: translateX(-300px);
}

/* home */

#sesion-1{
    opacity: 0;
    transform: translateX(-300px);
}
#sesion-2{
    opacity: 0;
    transform: translateY(100px);
}

/* iphone */

#fillter-left::-webkit-scrollbar{
    width: 5px;
}
#bot::-webkit-scrollbar{
    width: 5px;
}
#left::-webkit-scrollbar{
    width: 5px;
}

#fillProduct:hover img{
    transition: 0.5s all;
    transform: scale(1.01);
}
#fillProduct:hover #block{
    opacity: 0;
    transition: 0.2s all;
    transform: translateY(50px);
}

#fillProduct:hover #none{
    opacity: 1;
    transition: 0.5s all;
    display: block;
    transform: translateY(-90px);
    text-align: center;
}




