@tailwind base;
@tailwind components;
@tailwind utilities;


#text-danger{
    color: blue;
}

.custoom-hover:hover{
    transition: 0.5s all;
    transform: scale(1.02);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.scroll::-webkit-scrollbar{
    width: 5px;
}